body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.middle {
  margin: 3em;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.cards {
  padding-bottom: 1.5em;
  height: 26rem;
  width: 100%;
}
.cards:hover {
  background-color: rgb(241, 237, 237);
}

.carddet {
  text-align: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.cards img {
  width: 100%;
  height: 100%;
}

.cardimg {
  height: 10em;
}

.b1 {
  padding: 1.2em;
  margin: 1.5em;
  width: auto;
  background-color: rgb(63, 63, 187);
  color: white;
  border: none;
  box-shadow: 1px 1px rgb(109, 107, 107);
}

.b1:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 916px) {
  .middle {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 570px) {
  .middle {
    grid-template-columns: auto;
  }
}
